{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Points of Interest in one app </p>
      <p class="title ">
      Add description here:! </p>
    <p class="box">
      <i class="fas fa-city fa-4x" style="color:rgb(84, 83, 83)"></i>
      <i class="fas fa-mug-hot fa-4x" style="color:rgb(127, 99, 13)"></i>
      <i class="fas fa-umbrella-beach fa-4x" style="color:gold"></i>
      <i class="fas fa-hospital fa-4x" style="color:rgb(255, 0, 38)"></i>
      <i class="fas fa-mountain fa-4x" style="color:rgb(0, 255, 55)"></i>
      <i class="fas fa-skiing fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-utensils fa-4x" style="color:rgb(233, 229, 225)"></i>
      <i class="fas fa-binoculars fa-x" style="color:deepskyblue"></i>
      <i class="fas fa-beer fa-6x" style="color:rgba(216, 136, 44, 0.586)"></i>
      <i class="fas fa-plane fa-6x" style="color:rgb(80, 75, 225)"></i>
      <i class="fas fa-hiking fa-6x" style="color:rgb(54, 205, 207)"></i>
    </p>
       <p class="title ">
      EManlapaz2023 </p>
  </div>
</section>
