{{> welcome-menu}}

<section class="section">
  <figure class="image is-256x128">
  <img src="/images/welcome.jpg">
</figure>
  <p> Welcome to PlaceMark -Beta!</p>
  <p> Log in or Sign up</p>
</section>