{{> menu}}

<section class="section">
  <div class="title">
    {{placemark.placeMark}}
    <div class="card-image">
      <figure class="image is-256x256">
        {{#if placemark.img}}
          <img src="{{placemark.img}}">
        {{else}}
          <img src="https://github.com/emanlapaz/PlacemarkBeta/blob/master/public/images/welcome.jpg">
        {{/if}}
      </figure>
    </div>
  </div>
  
  <div class="column">
  </div>
  <br>
  {{>map}}
   <br>
  {{> list-points}}
  {{> add-point}}
  {{> placemark-image }}
  <br>
 
</section>
