<form class="box" action="/placemark/{{placemark._id}}/addpoint" method="POST">
  <label>Enter Point Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Point Name" name="pointName">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Point</button>
</form>
