<form class="box" action="/placemark/{{placemark._id}}/addpoint" method="POST">
  <label>Enter Point Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Point Name" name="pointName">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Small Description" name="description">
      </div>
      <div class="field">
        <div class="select">
          <select name="category">
            <option value="" disabled selected>Select a Category</option>
            <option value="Nature">Nature</option>
            <option value="Sports">Sports</option>
            <option value="History">History</option>
            <option value="Food">Food</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Point</button>
</form>
