<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Placemark Locations</label>
    <input class="input" type="text" placeholder="Enter Place Mark" name="placeMark">
    <input class="input" type="text" placeholder="Enter Latitude" name="lat">
    <input class="input" type="text" placeholder="Enter Longitude" name="long">
  </div>
  <button class="button is-link">Add Place Mark</button>
</form>
